<main>
  <section class="flex">
    <figure>
      {{#if imageId}}
      <div class="ml-10">
        <img class="rounded-l-3xl" src="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/{{imageId}}.jpg" alt="cover image"/>
      {{/if}}
      </div>
    </figure>
    <div class="card card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-3xl">{{gamesInfo.name}}</h2>
        <div class="flex-wrap text-left">IGDB Game ID: <span id="game_id">{{gamesInfo.id}}</span></div>
        <div class="flex-wrap text-left">Critic Score-{{gamesInfo.total_rating}}%</div>
        <div>
          <h3 class="font-semibold">Summary</h3>
          <div class="flex-wrap mt-4">{{gamesInfo.summary}}</div>
        </div>
        <div class="mt-4">
          <h3 class="font-semibold">Platforms</h3>
          <div class="flex-wrap mt-4">{{gamesInfo.platforms}}</div>
        </div>

      </div>
    </div>
  </section>

  {{#if gamesInfo.reviews}}
  {{#each gamesInfo.reviews as |review|}}
  <section>
    <div class="card shadow-lg">
      <div class="card-body">
        <h1 class="card-title">Review by User {{user_id}} on {{created_at}}</h1>
        <p>{{review.rating}} out of 100</p>
        <p>{{review.review_text}}</p>
      </div>
    </div>
  </section>
  {{/each}}
  {{/if}}

  {{#if loggedIn}}
  <section class="card">
    <div class="card-body">
      <h1 class="card-title">Leave a review</h1>
      <input type="number" id="rating" min="0" max="100" step="1" placeholder="Score out of 100" class="input input-bordered input-secondary w-full max-w-xs" />
      <textarea class="textarea textarea-bordered h-24" placeholder="Write review here!" id="textArea"></textarea>
      <div class="flex justify-end">
        <button class="btn btn-active btn-primary" id="submit">Submit</button>
      </div>
    </div>
  </section>
  {{/if}}

  {{#if similarGames}}
  <section class="mt-10">
    <h1>Similar Games</h1>
    {{#each similarGames as |game|}}
     <div class="card card-compact w-56 bg-base-100 shadow-xl">
        <figure><img src="https://images.igdb.com/igdb/image/upload/t_cover_small_2x/{{game.cover}}.jpg" alt="cover image"/></figure>
        <div class="card-body">
        <h2 class="card-title">{{game.name}}</h2>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">See It</button>
          </div>
        </div>
      </div>
    {{/each}}
  </section>
  {{/if}}
</main>
<script src="/js/add-review.js"></script>