<main>
	<h2 class="text-lg px-6">Wishlist for {INSERT USER_ID HERE}</h2>
{{#each wishListGames as |game|}}
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.jpg"
					alt="{{game.name}}"/>
		<div class="card-body">
			<h5 class="card-title">{{game.name}}</h5>
			<p class="card-text">Summmary: {{game.summary}}</p>
			<a href="#" class="btn btn-primary">{{game.id}}</a>
		</div>
	</div>
{{/each}}
</main>