<main>
	<h2 class="text-lg px-6">Your Reviews</h2>
	{{#each plainReviews as |review|}}
		<div class="card card-side bg-base-100 shadow-xl m-5">
			<figure><img
					src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{review.game.cover.image_id}}.jpg"
					alt="{{review.game.name}}"
				/></figure>
			<div class="card-body">
				<h2 class="card-title">Your review for {{review.game.name}} posted on {{review.created_at}}</h2>
				<h3>Community Rating: {{review.game.total_rating}}/100 | Your Rating: {{review.rating}}/100</h3>
				{{!display text that is not editable}}
				<p id="text-display" class="my-3" data-visible="true">{{review.review_text}}</p>
				{{!display text that is abled to be edited}}
				<p id="text-editor" data-visible="false" style="display: none">
					<textarea id="text-editor-textarea" class="textarea textarea-primary">{{review.review_text}}</textarea>
				</p>
				{{!change text content of button to submit when textarea is visible}}
				<div class="card-actions justify-end">
					<button data-gameId="{{review.game.id}}" id="edit-btn" class="btn btn-primary">Edit</button>
				</div>
			</div>
		</div>
	{{/each}}
</main>

<script src="/js/reviews.js"></script>